.navbar {
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: space-between; /* Ögeler arasında eşit boşluk bırakır */
  gap: 10px;
  background: linear-gradient(90deg, #ff7e5f, #feb47b); /* Modern bir gradient arka plan */
  padding: 0 20px;
  border-radius: 10px;
 
  width: 99%; /* Navbar genişliği */
  max-width: 2000px;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

/* Navbar içerisindeki ikonların düzgün ortalanması için */
.navbar i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  transition: transform 0.2s ease;
}

.navbar i:hover {
  transform: scale(1.1); /* Hover'da ikon küçücük bir büyüme efekti */
}


  .navbar_bOLGE {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    padding: 5px;
    border: 2px solid #000; /* Turuncu çerçeve için */
    border-radius: 8px;
    max-width: 800px; /* Maksimum genişlik */
    margin-left: 350px;
  }
  
  .navbar_bOLGE a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 8px;
    border-radius: 4px;
  
    transition: background-color 0.3s ease;
  }
  .navbar_bOLGE a:hover {
    background-color: white;
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: white;
  }
  